<ion-view view-title="客户资金帐信息" >
  <ion-header-bar class="dark-bg">
    <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="menu" ng-if=!flag2></a>
    <a class="button button-icon button-clear ion-ios-arrow-left button-light"  ng-click="state()" ng-if=flag2></a>
    <h1 class="title light">客户资金账户信息</h1>
  </ion-header-bar>
  <div class="bar bar-subheader item-input-inset" >
    <label class="item-input-wrapper" >
      <input type="search" placeholder="关键字查询" ng-model="data.name">
    </label>
    <a class="button button-clear icon ion-search button-dark" ng-click="data.search()"></a>
  </div>

  <ion-content class="stable-bg content-margin">
    <ion-list ng-repeat="item in resp|filter:data.criteria">
      <ion-item  class="receive_bill_margin" ng-click="detail(item)" ">
        <div class="sale_account_itemTitle" ng-hide=hide.CUSNAME>客户名称：{{item.CUSNAME}}</div><hr class="fund_hr">
        <div class="row sale_item">
          <div class="col col-20  crl_bgcolor text-center light">{{item.CUSNAME.substring(0,1)}}</div>
          <div class="col col-40 col-offset-10 sale_attributes">
            <i ng-hide=hide.ACCVALUE>账面金额：<br></i>
            <i ng-hide=hide.FUNDCLEAR>资金净额：<br></i>
            <i ng-hide=hide.FREEMONEY>可用自由款：<br></i>
            <i ng-hide=hide.TOTMONEY>总收款金额：</i></div>
          <div class="col col-40">
            <i ng-hide=hide.ACCVALUE>{{item.ACCVALUE}}<br></i>
            <i ng-hide=hide.FUNDCLEAR>{{item.FUNDCLEAR}}<br></i>
            <i ng-hide=hide.FREEMONEY>{{item.FREEMONEY}}<br></i>
            <i ng-hide=hide.TOTMONEY>{{item.TOTMONEY}}</i></div>
        </div>
        <div class="row sale_item">
          <div class="col col-20 sale_attributes">
            <i ng-hide=hide.OCCCUPYMONEY>出库占用金额：<br></i>
            <i ng-hide=hide.TOTBALANCE>总结算金额：<br></i>
            <i ng-hide=hide.CREDITAMOUNT>信用金额：<br></i>
            <i ng-hide=hide.PAIDCREDIT>已用信用：<br></i>
            <i ng-hide=hide.LEFTCREDIT>剩余信用：</i></div>
          <div class="col col-40 col-offset-10">
            <i ng-hide=hide.OCCCUPYMONEY>{{item.OCCCUPYMONEY}}<br></i>
            <i ng-hide=hide.TOTBALANCE>{{item.TOTBALANCE}}<br></i>
            <i ng-hide=hide.CREDITAMOUNT>{{item.CREDITAMOUNT}}<br></i>
            <i ng-hide=hide.PAIDCREDIT>{{item.PAIDCREDIT}}<br></i>
            <i ng-hide=hide.LEFTCREDIT>{{item.LEFTCREDIT}}</i></div>
          <div class="col col-40"></div>
        </div>
      </ion-item>
    </ion-list>


    <ion-infinite-scroll
      on-infinite="loadMore()"
      ng-if="run"
      distance="1%">
    </ion-infinite-scroll>



  </ion-content>
  <img ng-src="img/popover.jpg" class="receive_bill_fixed" ng-if=!flag2 ng-click="openPopover($event)"/>

</ion-view>
<!--浮动框-->
<!--浮动框-->
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="receive_bill_popover">
    <ion-content>
      <div class="row">
        <div class="col col-30 text-center"><img ng-src="img/search.png" ui-sref="fund-search" class="popover_img"><div>查询</div></div>
        <div class="col col-30 text-center"><img ng-src="img/search-history.png" ui-sref="fund-history"  class="popover_img"><div>查询历史</div></div>
        <div class="col col-30 text-center"><img ng-src="img/hide.png" ui-sref="fund-hide" class="popover_img"><div>隐藏</div></div>
      </div>
    </ion-content>
  </ion-popover-view>
</script>


