<ion-view view-title="设置">
  <ion-nav-bar >
  </ion-nav-bar>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left button-positive" ui-sref="menu">
    </button>
  </ion-nav-buttons>
  <ion-content class="stable-bg" style="height:100%">
   <div style="height: 30%;text-align: center" class="padding">
     <img src="img/app.png" alt="">
     <div>
     <h5 style="font-weight: 400">南京宝日企业APP</h5>
     <p style="color:RGB(186,113,103)">{{version}}版</p>
     </div>
   </div>

    <ion-list>
      <ion-item class="item item-icon-right" ui-sref="question">
        <p>常见问题</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right" ui-sref="version">
        <p>版本信息</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item class="item item-icon-right" ng-click="update()">
        <p>检查更新</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
