<ion-view  >
  <ion-header-bar class="dark-bg">
    <h1 class="title light">功能导航</h1>
  </ion-header-bar>

  <ion-content class="menuBg" overflow-scroll="true" style="overflow: hidden">

    <div class="button-bar bar-calm" style="margin-top: 260px">
      <a class="button" ui-sref="tab-team">班组设备</a>
      <a class="button" ui-sref="tab-stock">库存明细</a>
      <a class="button" ui-sref="tab-plan">发货计划</a>
    </div>


    <div class="button-bar bar-assertive" style="margin-top: 20px">
    <a class="button" ui-sref="sale">销售合同</a>
    <a class="button" ui-sref="fund">银行存款</a>
    <a class="button" ui-sref="receive_bill">应收票据</a>
  </div>
   <div class="button-bar bar-royal" style="margin-top: 20px">
    <a class="button" ui-sref="pay_bill">应付票据</a>
    <a class="button" ui-sref="receive_account">应收账单</a>
    <a class="button" ui-sref="pay_account">应付账单</a>
  </div>
   <div class="button-bar bar-energized" style="margin-top: 20px">
    <a class="button" ui-sref="source">能源系统数据</a>
  </div>
  </ion-content>
  <ion-footer-bar class="dark-bg light">
    <div class="title">南京宝日移动APP</div>
  </ion-footer-bar>
  </ion-view>
