<ion-view view-title="明细">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_bill"></a>
        <h1 class="title light">{{info.payRequisitionNum}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item class="detailed ">付款申请单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.PAYREQUISITIONNUM}}</span></ion-item>
        <ion-item class="detailed ">发票代码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICECODE}}</span></ion-item>
        <ion-item class="detailed ">发票号码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICENUM}}</span></ion-item>
        <ion-item class="detailed ">报支单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.REPORTNUM}}</span></ion-item>
        <ion-item class="detailed ">合同号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.CONTRACNUM}}</span></ion-item>
        <ion-item class="detailed ">申请金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.APPLICATIONMONEY}}</span></ion-item>
        <ion-item class="detailed ">发票金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICEMONEY}}</span></ion-item>
        <ion-item class="detailed ">付款单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.PAYNUM}}</span></ion-item>
        <ion-item class="detailed ">付款日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.PAYDATE}}</span></ion-item>
        <ion-item class="detailed ">付款方式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.PAYUSE}}</span></ion-item>
        <ion-item class="detailed ">原币金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.ORIGINMONEY}}</span></ion-item>
        <ion-item class="detailed ">币种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.CURRENCIES}}</span></ion-item>
        <ion-item class="detailed ">人民币金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.RENMINBI}}</span></ion-item>
    </ion-content>
</ion-view>
