<ion-view view-title="明细">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_account"></a>
        <h1 class="title light">{{info.username}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item class="detailed ">供应商名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.username}}</span></ion-item>
        <ion-item class="detailed ">发票管理号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceManageNum}}</span></ion-item>
        <ion-item class="detailed ">发票性质&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceNature}}</span></ion-item>
        <ion-item class="detailed ">发票代码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceCode}}</span></ion-item>
        <ion-item class="detailed ">发票号码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceNum}}</span></ion-item>
        <ion-item class="detailed ">币种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.currencies}}</span></ion-item>
        <ion-item class="detailed ">结算单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.billNum}}</span></ion-item>
        <ion-item class="detailed ">发票金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceMoney}}</span></ion-item>
        <ion-item class="detailed ">申请金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.applicationMoney}}</span></ion-item>
        <ion-item class="detailed ">付款金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.payMoney}}</span></ion-item>
        <ion-item class="detailed ">剩余金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.surplusMoney}}</span></ion-item>
        <ion-item class="detailed ">发票状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.status}}</span></ion-item>
    </ion-content>
</ion-view>