<ion-view view-title="采购付款信息">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="menu" ng-if=!flag2></a>
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_bill" ng-click="state()" ng-if=flag2></a>
        <h1 class="title light" ng-if=!flag2>采购付款信息</h1>
        <h1 class="title light" ng-if=flag2>采购付款查询结果</h1>
    </ion-header-bar>
    <div class="bar bar-subheader">
        <div class="bar item-input-inset" >
            <label class="item-input-wrapper" >
                <input type="search" placeholder="关键字查询" ng-model="data.name">
            </label>
            <a class="button button-clear icon ion-search button-dark" ng-click="data.search()"></a>
        </div>
    </div>
    <ion-content class="stable-bg content-margin">
        <ion-list ng-repeat="item in resp|filter:data.criteria">
            <ion-item  class="receive_bill_margin" ng-click="detail(item)">
                <div class="receive_bill_itemTitle" ng-if=!hide.PAYREQUISITIONNUM>付款申请单号:{{item.PAYREQUISITIONNUM}}</div><hr class="hr">
                <div class="row receive_item">
                    <div class="col col-60"><i ng-if=!hide.INVOICECODE>发票代码:{{item.INVOICECODE}}<br></i><i ng-if=!hide.INVOICENUM>发票号码:{{item.INVOICENUM}}<br></i><i ng-if=!hide.REPORTNUM>报支单号:{{item.REPORTNUM}}<br></i><i ng-if=!hide.CONTRACNUM>合同号:{{item.CONTRACNUM}}<br></i><i ng-if=!hide.APPLICATIONMONEY>申请金额:{{item.APPLICATIONMONEY}}<br></i><i ng-if=!hide.INVOICEMONEY>发票金额:{{item.INVOICEMONEY}}</i></div>
                    <div class="col col-40"><i ng-if=!hide.PAYNUM>付款单号:{{item.PAYNUM}}<br></i><i ng-if=!hide.PAYDATE>付款日期:{{item.PAYDATE}}<br></i><i ng-if=!hide.PAYUSE>付款方式:{{item.PAYUSE}}<br></i><i ng-if=!hide.ORIGINMONEY>原币金额:{{item.ORIGINMONEY}}<br></i><i ng-if=!hide.CURRENCIES>币种:{{item.CURRENCIES}}<br></i><i ng-if=!hide.RENMINBI>人民币金额:{{item.RENMINBI}}</i></div>
                </div>
            </ion-item>
        </ion-list>
      <ion-infinite-scroll
        on-infinite="loadMore()"
        ng-if="run"
        distance="1%">
      </ion-infinite-scroll>
    </ion-content>
    <img ng-src="img/popover.png" class="receive_bill_fixed" ng-click="openPopover($event)"/>
</ion-view>
<!--浮动框-->
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view class="receive_bill_popover">
        <ion-content>
            <div class="row">
                <div class="col col-30 text-center"><img ng-src="img/chaxun.png" ui-sref="pay_bill_search" class="popover_img"><div>查询</div></div>
                <div class="col col-30 text-center"><img ng-src="img/chaxunlishi.png" ui-sref="pay_bill_history"  class="popover_img"><div>查询历史</div></div>
                <div class="col col-30 text-center"><img ng-src="img/yincang.png" ui-sref="pay_bill_hide" class="popover_img"><div>隐藏</div></div>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
