<ion-view view-title="隐藏">
    <ion-header-bar class="dark-bg light">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_bill"></a>
        <h1 class="title light">请选择要隐藏的列</h1>
        <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.payRequisitionNum">
                </label>
                付款申请单号
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.invoiceCode">
                </label>
                发票代码
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.invoiceNum">
                </label>
                发票号码
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.reportNum">
                </label>
                报支单号
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.contractNum">
                </label>
                合同号
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.applicationMoney">
                </label>
                申请金额
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.invoiceMoney">
                </label>
                发票金额
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.payNum">
                </label>
                付款单号
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.payDate">
                </label>
                付款日期
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.payUse">
                </label>
                付款方式
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.originMoney">
                </label>
                原币金额
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.currencies">
                </label>
                币种
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.renmingbi">
                </label>
                人民币金额
            </li>
        </ul>
    </ion-content>
</ion-view>