<ion-view view-title="明细">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_bill"></a>
        <h1 class="title light">{{info.payRequisitionNum}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item class="detailed ">付款申请单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.payRequisitionNum}}</span></ion-item>
        <ion-item class="detailed ">发票代码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceCode}}</span></ion-item>
        <ion-item class="detailed ">发票号码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceNum}}</span></ion-item>
        <ion-item class="detailed ">报支单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.reportNum}}</span></ion-item>
        <ion-item class="detailed ">合同号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.contractNum}}</span></ion-item>
        <ion-item class="detailed ">申请金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.applicationMoney}}</span></ion-item>
        <ion-item class="detailed ">发票金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.invoiceMoney}}</span></ion-item>
        <ion-item class="detailed ">付款单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.payNum}}</span></ion-item>
        <ion-item class="detailed ">付款日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.payDate}}</span></ion-item>
        <ion-item class="detailed ">付款方式&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.payUse}}</span></ion-item>
        <ion-item class="detailed ">原币金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.originMoney}}</span></ion-item>
        <ion-item class="detailed ">币种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.currencies}}</span></ion-item>
        <ion-item class="detailed ">人民币金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{info.renmingbi}}</span></ion-item>
    </ion-content>
</ion-view>