<ion-view view-title="明细">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="pay_account"></a>
        <h1 class="title light">{{info.username}}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item class="detailed ">供应商名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.USERNAME}}</span></ion-item>
        <ion-item class="detailed ">发票管理号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICEMANAGENUM}}</span></ion-item>
        <ion-item class="detailed ">发票性质&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICENATURE}}</span></ion-item>
        <ion-item class="detailed ">发票代码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICECODE}}</span></ion-item>
        <ion-item class="detailed ">发票号码&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICENUM}}</span></ion-item>
        <ion-item class="detailed ">币种&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.CURRENCIES}}</span></ion-item>
        <ion-item class="detailed ">结算单号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.BILLNUM}}</span></ion-item>
        <ion-item class="detailed ">发票金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.INVOICEMONEY}}</span></ion-item>
        <ion-item class="detailed ">申请金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.APPLICATIONMONEY}}</span></ion-item>
        <ion-item class="detailed ">付款金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.PAYMONEY}}</span></ion-item>
        <ion-item class="detailed ">剩余金额&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.SURPLUSMONEY}}</span></ion-item>
        <ion-item class="detailed ">发票状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="item-note dark">{{mingxi.STATUS}}</span></ion-item>
    </ion-content>
</ion-view>
