
<ion-view view-title="">
    <ion-nav-bar>
  <ion-nav-buttons side="right">

    <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
  </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>

    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name">
        </label>
       客户名称
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.shijifahuo">
        </label>
        实际发货量
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.riqi">
        </label>
        计划日期
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.jihuafahuo">
        </label>
        计划发货量
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.jianshu">
        </label>
        实际发货件数
      </li>
    </ul>
  </ion-content>
  </div>
  </ion-content>
</ion-view>


