<ion-view view-title="隐藏">
    <ion-header-bar class="dark-bg light">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="receive_account"></a>
        <h1 class="title light">请选择要隐藏的列</h1>
        <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.USERNAME">
                </label>
                客户名称
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.FORMINVOICENUM">
                </label>
                形式发票号
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.DATE">
            </label>
                开票日期
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.INVOICENUM">
            </label>
                发票号码
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.INVOICECODE">
            </label>
                发票代码
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.CURRENCIES">
            </label>
                币种
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.BILLMONEY">
            </label>
                结算金额
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.VERIFICATIONMONEY">
            </label>
                核销金额
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.VERIFICATIONINGMONEY">
            </label>
                待核销金额
            </li>
        </ul>
    </ion-content>
</ion-view>
