<ion-view view-title="销售合同信息查询" >
  <ion-header-bar class="dark-bg">
    <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="sale"></a>
    <h1 class="title light">销售合同信息查询</h1>
  </ion-header-bar>
  <ion-tabs class="tabs-top  tabs-striped tabs-light tabs-color-active-calm">
    <!-- Dashboard Tab -->
    <ion-tab title="编辑查询">
      <ion-view>
        <ion-content>
          <ion-item>
            <div class="row">
              <div class="col col-35"><h2>单据日期</h2></div>
              <div class="col col-50 col-offset-10">
                <ionic-datepicker input-obj="datepickerObject">
                  <ion-item class="item item-input ion-calendar ">
                    <p>{{search.date1 | date:datepickerObject.dateFormat}}</p>
                  </ion-item>
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col col-35"></div>
              <div class="col col-50 col-offset-10">
                <ionic-datepicker input-obj="datepickerObject2" style="vertical-align:bottom">
                  <ion-item class="item item-input ion-calendar ">
                    <p>{{search.date2 | date:datepickerObject2.dateFormat}}</p>
                  </ion-item>
                </ionic-datepicker>
              </div>
            </div>
          </ion-item>
         <!-- <div ng-bind="condition.billDateEnd | date:'yyyy-MM-dd'" align="right"></div>-->
          <ion-item>
            <div class="row" >
              <div class="col col-35" style="vertical-align:bottom"><h2>客户名称</h2></div>
              <div class="col col-60 " >
                <input type="text" placeholder="请输入订货客户名称" ng-model="req.ORDERCUSNAME"></div>
            </div>
          </ion-item>
          <ion-item>
            <div class="row" >
              <div class="col col-35" style="vertical-align:bottom"><h2>订单号</h2></div>
              <div class="col col-60 " >
                <input type="text" placeholder="请输入订单号" ng-model="req.ORDERNUM"></div>
            </div>
          </ion-item>
        </ion-content>


        <ion-footer-bar>
          <div style="width:50%;text-align:center;margin:0 auto;border-right:1px solid black" > <a class="button button-icon" ng-click="commit()">查询</a></div>
          <div style="width:50%;text-align:center;margin:0 auto"><a class="button button-icon" ng-click="showPopup()">记住本次查询</a></div>
        </ion-footer-bar>

      </ion-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="查询历史">
      <ion-view>
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="item in history" ng-click="hisSearch(item)">
              {{item.RECORDNAME}}
              <ion-option-button class="button-calm" ng-click="remove(item.RECORDNAME)">
                删除
              </ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>
        <div class="history_delete" ng-click="removeAll()">删除所有查询历史</div>
      </ion-view>
    </ion-tab>
  </ion-tabs>
