<ion-view view-title="receive_bill">
  <ion-header-bar class="dark-bg">
    <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="menu" ng-if=!flag2></a>
    <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="sale" ng-click="state()" ng-if=flag2></a>
    <h1 class="title light" ng-if=!flag2>销售合同信息</h1>
    <h1 class="title light" ng-if=flag2>销售合同查询结果</h1>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div class="bar item-input-inset" >
      <label class="item-input-wrapper" >
        <input type="search" placeholder="关键字查询" ng-model="data.name">
      </label>
      <a class="button button-clear icon ion-search button-dark" ng-click="data.search()"></a>
    </div>
  </div>
  <ion-content class="stable-bg content-margin">

    <ion-list ng-repeat="item in resp|filter:data.criteria">
      <ion-item  class="receive_bill_margin" ng-click="detail(item)">
        <div class="receive_bill_itemTitle" ng-if=!hide.ORDERNUM>订单号:{{item.ORDERNUM}}</div>
        <div class="receive_bill_itemTitle" ng-if=!hide.SALEMAN>销售业务员:{{item.SALEMAN}}</div>
        <div class="receive_bill_itemTitle" ng-if=!hide.BILLDATE>单据日期:{{item.BILLDATE}}</div>
        <hr class="hr">

        <!--<div class="row" style="color: #000000;font-size: 12px;margin-left: 6px;"><i ng-if=!hide.USERNAME>订货客户名称:{{item.USERNAME}}<br></i></div>-->
        <div class="row receive_item">
          <div class="col col-55"><i ng-if=!hide.ORDERCUSNAME>订货客户名称:{{item.ORDERCUSNAME}}<br></i><i ng-if=!hide.TYPE>品种:{{item.TYPE}}<br></i><i ng-if=!hide.STEELGRADE>钢种:{{item.STEELGRADE}}<br></i><i ng-if=!hide.CRAFTS>工艺:{{item.CRAFTS}}<br></i><i ng-if=!hide.ORDERWEIGHT>订货重量:{{item.ORDERWEIGHT}}</i></div>
          <div class="col col-45"><i ng-if=!hide.RECCUSNAME>收货客户名称:{{item.RECCUSNAME}}<br></i><i ng-if=!hide.UNIVALENCE>销售单价（含税）:{{item.UNIVALENCE}}<br></i><i ng-if=!hide.STANDARD>规格:{{item.STANDARD}}<br></i><i ng-if=!hide.NORM>标准:{{item.NORM}}<br></i><i ng-if=!hide.FINPROWEI>成品生产重量:{{item.FINPROWEI}}</i></div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      ng-if="run"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <img ng-src="img/popover.png" class="receive_bill_fixed" ng-click="openPopover($event)"/>
</ion-view>
<!--浮动框-->
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="receive_bill_popover">
    <ion-content>
      <div class="row">
        <div class="col col-30 text-center"><img ng-src="img/chaxun.png" ui-sref="sale-search" class="popover_img"><div>查询</div></div>
        <div class="col col-30 text-center"><img ng-src="img/chaxunlishi.png" ui-sref="sale-history"  class="popover_img"><div>查询历史</div></div>
        <div class="col col-30 text-center"><img ng-src="img/yincang.png" ui-sref="sale-hide" class="popover_img"><div>隐藏</div></div>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
