<ion-view view-title="客户资金帐信息查询" >
  <ion-header-bar class="dark-bg">
    <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="source"></a>
    <h1 class="title light">能源系统数据</h1>
  </ion-header-bar>
  <ion-tabs class="tabs-striped tabs-top  tabs-color-assertive">
    <!-- Dashboard Tab -->
    <ion-tab title="编辑查询">
      <ion-view>
        <ion-content>

         <!-- <div ng-bind="condition.billDateEnd | date:'yyyy-MM-dd'" align="right"></div>-->
          <ion-item>
            <div class="row">
              <div class="col col-35"><h2>使用日期</h2></div>
              <div class="col col-50 col-offset-10">
                <ionic-datepicker input-obj="datepickerObject">
                  <ion-item class="item item-input ion-calendar ">
                    <p>{{search.date1 | date:datepickerObject.dateFormat}}</p>
                  </ion-item>
                </ionic-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col col-35"></div>
              <div class="col col-50 col-offset-10">
                <ionic-datepicker input-obj="datepickerObject2" style="vertical-align:bottom">
                  <ion-item class="item item-input ion-calendar ">
                    <p>{{search.date2 | date:datepickerObject2.dateFormat}}</p>
                  </ion-item>
                </ionic-datepicker>
              </div>
            </div>
          </ion-item>

        </ion-content>


          <ion-footer-bar>
            <div class="button-bar">
              <button class="button icon ion-search button-balanced" ng-click="commit()">查询</button>
              <button class="button icon ion-compose button-assertive" ng-click="showPopup()">记住本次查询</button>
            </div>
            <!--<div style="width:50%;text-align:center;margin:0 auto;border-right:1px solid black" > <a class="button button-icon" ng-click="commit()">查询</a></div>-->
            <!--<div style="width:50%;text-align:center;margin:0 auto"><a class="button button-icon" ng-click="showPopup()">记住本次查询</a></div>-->
          </ion-footer-bar>

          <!--<a class="button button-icon " ng-click="commit()" >查询</a>
          <i class="title">|</i>
          <a class="button button-icon " ng-click="remeber()" >记住本次查询</a>-->
      </ion-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="查询历史" >
      <ion-view>
        <ion-content>
          <ion-list>
            <ion-item ng-repeat="item in history" ng-click="hisSearch(item)">
              {{item.RECORDNAME}}
              <ion-option-button class="button-calm" ng-click="remove(item.RECORDNAME)">
                删除
              </ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>
        <!--<div class="history_delete" ng-click="removeAll()">删除所有查询历史</div>-->
        <ion-footer-bar>
          <div class="button-bar">
            <button class="button button-assertive" ng-click="removeAll()">删除所有查询历史</button>
          </div>
        </ion-footer-bar>
      </ion-view>
    </ion-tab>
  </ion-tabs>
  </ion-view>
