<ion-view view-title="隐藏">
    <ion-header-bar class="dark-bg light">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="source"></a>
        <h1 class="title light">请选择要隐藏的列</h1>
      <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="hide()"></a>
    </ion-header-bar>


    <ion-content>
        <ul class="list">
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.WATER">
            </label>
              水
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.COAL">
            </label>
              煤
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.GAS">
            </label>
              天然气
            </li>
            <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-model="data.ELECTRIC">
            </label>
              电
            </li>

        </ul>
    </ion-content>
</ion-view>
