<ion-header-bar class="dark-bg">
  <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="tab-stock"></a>
  <h1 class="title light">查询</h1>
</ion-header-bar>
<ion-tabs class="tabs-striped tabs-top  tabs-color-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="编辑查询">
    <ion-view>
      <ion-content>
        <ion-item>
          <div class="row">
            <div class="col col-30"><h2>库区</h2></div>
            <div class="col col-50 col-offset-10">
                  <select ng-model="req.AREA">
                    <option value="CP">成品库</option>
                    <option value="YL">原料库</option>
                    <option value="MT">码头库</option>
                  </select>
            </div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col col-30"><h2>客户名称</h2></div>
            <div class="col col-66 col-offset-10"><input type="text" placeholder="请输入客户名称" ng-model="req.USERNAME"></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col col-30"><h2>制令单号</h2></div>
            <div class="col col-66 col-offset-10"><input type="text" placeholder="请输入客户名称" ng-model="req.INJUNCNUM"></div>
          </div>
        </ion-item>
      </ion-content>

      <ion-footer-bar>
        <div class="button-bar">
          <button class="button icon ion-search button-balanced" ng-click="commit()">查询</button>
          <button class="button icon ion-compose button-assertive" ng-click="showPopup()">记住本次查询</button>
        </div>
        <!--<div style="width:50%;text-align:center;margin:0 auto;border-right:1px solid black" > <a class="button button-icon" ng-click="commit()">查询</a></div>-->
        <!--<div style="width:50%;text-align:center;margin:0 auto"><a class="button button-icon" ng-click="showPopup()">记住本次查询</a></div>-->
      </ion-footer-bar>
    </ion-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="查询历史">
    <ion-view>
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="item in history" ng-click="hisSearch(item)">
            {{item.RECORDNAME}}
            <ion-option-button class="button-calm" ng-click="remove(item.RECORDNAME)">
              删除
            </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <!--<div class="history_delete" ng-click="removeAll()">删除所有查询历史</div>-->
      <ion-footer-bar>
        <div class="button-bar">
          <button class="button button-assertive" ng-click="removeAll()">删除所有查询历史</button>
        </div>
      </ion-footer-bar>
    </ion-view>
  </ion-tab>
</ion-tabs>
