
<ion-view view-title="">
    <ion-nav-bar>
  <ion-nav-buttons side="right">

    <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
  </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name">
        </label>
        客户名称
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.lastText">
        </label>
        计划单号
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.gang">
        </label>
        钢种
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.kuige">
        </label>
        规格
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.gongyi">
        </label>
        工艺
      </li>
    </ul>
  </ion-content>
  </div>
  </ion-content>
</ion-view>
