<ion-header-bar class="dark-bg">
  <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="tab-stock"></a>
  <h1 class="title light">详细信息</h1>
</ion-header-bar>
<!--<ion-view view-title="">
    <ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button button-clear ion-chevron-left" ui-sref="tab-stock"/>
    <h1 class="title light">{{stock.lastText1}}</h1>
  </ion-nav-buttons>
    </ion-nav-bar>-->
  <ion-content>
    <h4 style="color:red">{{stock.lastText1}}</h4>
    <div class="item">
      <h3>&nbsp;钢&nbsp;&nbsp;&nbsp;&nbsp;种:<span style="float:right">{{stock.gang1}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;规&nbsp;&nbsp;&nbsp;&nbsp;格:<span style="float:right">{{stock.gang1}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;工&nbsp;&nbsp;&nbsp;&nbsp;艺:<span style="float:right">{{stock.gongyi1}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
    <h3>&nbsp;盘&nbsp;&nbsp;&nbsp;&nbsp;数:<span style="float:right">{{stock.panshu1}}盘&nbsp;&nbsp;</span></h3>
    <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;重&nbsp;&nbsp;&nbsp;&nbsp;量:<span style="float:right">{{stock.zhongliang1}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;入库日期:<span style="float:right">{{stock.rukutime1}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>

    </div>
    <h4 style="color:red">{{stock.lastText2}}</h4>
    <div class="item">
      <h3>&nbsp;钢&nbsp;&nbsp;&nbsp;&nbsp;种:<span style="float:right">{{stock.gang2}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;规&nbsp;&nbsp;&nbsp;&nbsp;格:<span style="float:right">{{stock.gang2}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;工&nbsp;&nbsp;&nbsp;&nbsp;艺:<span style="float:right">{{stock.gongyi2}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;盘&nbsp;&nbsp;&nbsp;&nbsp;数:<span style="float:right">{{stock.panshu2}}盘&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;重&nbsp;&nbsp;&nbsp;&nbsp;量:<span style="float:right">{{stock.zhongliang2}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>
    </div>
    <div class="item">
      <h3>&nbsp;入库日期:<span style="float:right">{{stock.rukutime2}}&nbsp;&nbsp;</span></h3>
      <div class="clear"></div>

    </div>
  </ion-content>
</ion-view>
