<ion-view view-title="班组设备产量">
    <ion-header-bar class="dark-bg">
        <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="menu"></a>
        <h1 class="title light">班组设备产量</h1>
    </ion-header-bar>
  <ion-content>
    <div class="bar item-input-inset" >
      <label class="item-input-wrapper" >
        <input type="search" placeholder="关键字" ng-model="data.name">
      </label>
      <a class="button button-clear icon ion-search button-dark" ng-click="data.search()"></a>
    </div>
    <ion-list ng-repeat="team in teams|filter:data.criteria" >

      <ion-item  class="receive_bill_margin"  ui-sref="modifyteam({id:{{team.id}}})">
        <div class="receive_account_itemTitle" style="color:red">设备：{{team.name}}</div>
        <div class="receive_account_itemTitle"  style="color:red">工艺：{{team.lastText}}</div>
        <div class="row receive_item">
          <div class="col col-20 receive_account_key text-center light">{{team.id}}</div>
          <div class="col col-40 col-offset-10 attributes"><i ng-if=!hide.name1>班组{{team.name1}}</i><br><i ng-if=!hide.name2>班组{{team.name2}}</i><br><i ng-if=!hide.name3>班组{{team.name3}}</i><br><i ng-if=!hide.name4>班组{{team.name4}}</i></div>
          <div class="col col-40"><i ng-if=!hide.name1>产量{{team.lastText1}}</i><br><i ng-if=!hide.name2>产量{{team.lastText2}}</i><br><i ng-if=!hide.name3>产量{{team.lastText3}}</i><br><i ng-if=!hide.name4>产量{{team.lastText4}}</i></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <img ng-src="img/popover.png" class="receive_bill_fixed" ng-click="openPopover($event)"/>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="receive_bill_popover">
    <ion-content>
      <div class="row">
        <div class="col col-30 text-center"><img ng-src="img/chaxun.png" ui-sref="select" class="popover_img"><div>查询</div></div>
        <div class="col col-30 text-center"><img ng-src="img/chaxunlishi.png" ui-sref="select1"  class="popover_img"><div>查询历史</div></div>
        <div class="col col-30 text-center"><img ng-src="img/yincang.png" ui-sref="yingcuang" class="popover_img"><div>隐藏</div></div>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
