<ion-view view-title="班组设备产量">
    <ion-header-bar class="dark-bg">
      <a class="button button-icon button-clear ion-ios-arrow-left button-light" ui-sref="menu" ng-if=!flag2></a>
      <a class="button button-icon button-clear ion-ios-arrow-left button-light" ng-click="state()" ng-if=flag2></a>
      <h1 class="title light" ng-if=!flag2>班组设备产量</h1>
      <h1 class="title light" ng-if=flag2>班组设备产量结果</h1>
    </ion-header-bar>
  <ion-content class="stable-bg">
    <div class="bar item-input-inset" >
      <label class="item-input-wrapper" >
        <input type="search" placeholder="关键字" ng-model="data.name">
      </label>
      <a class="button button-clear icon ion-search button-dark" ng-click="data.search()"></a>
    </div>
    <ion-list ng-repeat="team in resp|filter:data.criteria" >

      <ion-item  class="receive_bill_margin" ng-click="detail(team)">
        <span class="receive_bill_itemTitle" ng-if=!hide.TYPE>设备：{{team.TYPECHN}}</span>
        <span class="receive_bill_itemTitle" >日期：{{team[0].DATE}}</span>
        <hr class="hr">

        <div class="row receive_item" ng-repeat="k in team">
            <div class="col col-40 " >
              <i ng-if=!hide.CRAFTS>钢种规格:{{k.CRAFTS}}</i>
            </div>
          <div class="col col-40 col-offset-20" >
                <i ng-if=!hide.YIELD>产量:{{k.YIELD}}</i></div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      ng-if="run"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <img ng-src="img/popover.png" class="receive_bill_fixed" ng-if=!flag2 ng-click="openPopover($event)"/>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="receive_bill_popover">
    <ion-content>
      <div class="row">
        <div class="col col-30 text-center"><img ng-src="img/chaxun.png" ui-sref="select" class="popover_img"><div>查询</div></div>
        <div class="col col-30 text-center"><img ng-src="img/chaxunlishi.png" ui-sref="select1"  class="popover_img"><div>查询历史</div></div>
        <div class="col col-30 text-center"><img ng-src="img/yincang.png" ui-sref="yingcuang" class="popover_img"><div>隐藏</div></div>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
