<ion-view view-title="">
    <ion-nav-bar>
  <ion-nav-buttons side="right">

    <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
  </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>

    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.TYPE">
        </label>
        设备
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.CRAFTS">
        </label>
        工艺
      </li>

      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.YIELD">
        </label>
        产量
      </li>
    </ul>
  </ion-content>
  </div>
  </ion-content>
</ion-view>


