<ion-view view-title="">
    <ion-nav-bar>
  <ion-nav-buttons side="right">

    <a class="button button-icon button-clear ion-ios-checkmark-outline button-light" ng-click="commit()"></a>
  </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>

    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name1">
        </label>
        班组甲
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name2">
        </label>
        班组乙
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name3">
        </label>
        班组丙
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-model="data.name4">
        </label>
        班组丁
      </li>
    </ul>
  </ion-content>
  </div>
  </ion-content>
</ion-view>


