
<ion-tabs class="tabs-top  tabs-striped tabs-light tabs-color-active-calm">

  <ion-tab title="班组查询">

    <ion-view>

      <ion-content>

        <ion-item>
          <div class="row">
            <div class="col col-25"><h2>班组</h2></div>
            <div class="col col-25">
              <select ng-model="req.username" ng-options="m for m in username" style="height: 26px">
                <option value=""></option>
              </select>
            </div>

          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col col-25"><h2>设备类型</h2></div>
            <div class="col col-25">
              <select ng-model="req.teamtype" ng-options="m for m in teamtype" style="height: 26px">
                <option value=""></option>
              </select>
            </div>

          </div>
        </ion-item>
        <ion-item>
          <div class="row">
            <div class="col col-25"><h2>日期</h2></div>
            <div class="col col-25">
              <select ng-model="req.dateRange" ng-options="m for m in dateRange" style="height: 26px">
                <option value=""></option>
              </select>
            </div>
            <div class="col col-40 col-offset-10">
              <ionic-datepicker input-obj="datepickerObject">
                <ion-item class="item item-input ion-calendar ">
                  <p>{{req.date1 | date:datepickerObject.dateFormat}}</p>
                </ion-item>
              </ionic-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="col col-25"></div>
            <div class="col col-25"></div>
            <div class="col col-40 col-offset-10">
              <ionic-datepicker input-obj="datepickerObject2" ng-if="req.dateRange=='时间段'">
                <ion-item class="item item-input ion-calendar ">
                  <p>{{req.date2 | date:datepickerObject2.dateFormat}}</p>
                </ion-item>
              </ionic-datepicker>
            </div>
          </div>

        </ion-item>


      </ion-content>

      <ion-footer-bar>
        <a class="button button-icon" ng-click="commit()">查询</a>
        <i class="title">|</i>
        <a class="button button-icon" ng-click="remeber()">记住本次查询</a>
      </ion-footer-bar>
    </ion-view>
  </ion-tab>

  <ion-tab
    title="查询历史"
    href="#/select1"
   >
  </ion-tab>
</ion-tabs>
